<html>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <nav style="background-color: #03228f">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="/images/logo.jpg" style="padding:11px; height: 62px;width: 120px;" ></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/publication/displayallpublication" target="mw">Publication</a></li>
        <li><a href="/bookcategory/displaybookcategory" target="mw">Book Category</a></li>
        <li><a href="/categorywriter/displaycategorywriter" target="mw">Category Writer</a></li>
        <li><a href="/book/displaybook" target="mw">Book</a></li>
        <li><a href="/admin/logout"><i class="material-icons right">logout</i></a></li>
      </ul>
    </div>
  </nav>
  <iframe name="mw" style="height:92vh;width:99.5vw;overflow:hidden;" style="border:none;"></iframe>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
