<html>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Cnompiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
       
    </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>
        $(document).ready(function () {
          $.getJSON("/publication/displayJSON", { ajax: true }, function (result) {
            console.log(result);
            if (result.status) {
              result.data.forEach((item, index) => {
                $("#publicationid").append(
                  $("<option>").text(item.publicationname).val(item.publicationid)
                );
              });
              $("select").formSelect();
            }
          });
        });
      </script>
      
      <script>
        $(document).ready(function () {
          $("select").formSelect();
        });
      </script>
    
   
          
     
    <style>
        .maincontainer{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            height:100vh;
            width:100vw
        }
        .subcontainer{
            background-color:#03228f;
            border-radius: 10px;
            width:50%;
        }
        .heading{
            font-weight:bold;
            color: '#2f3640';
            font-size: 30px;
            text-align: center;
            color: #fff;
            
        }
        .msgStyle{
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
        }
    </style>
    <div class="maincontainer">
        <div class="subcontainer">
          <form action="/bookcategory/editbookcategory" method="post" >
            <div class="heading">
            Edit BookCatgeory 
            </div>
            <div  class="row">
              <div class="input-field col s12">
                
                <input id="bookcategoryid" name="bookcategoryid" type="text" class="validate" value="<%=data.bookcategoryid%>" style="color: #fff;" readonly>
                <label for="bookcategoryid">BookCategory Id</label>
                
                </div>

           <div  class="row">
            <div class="input-field col s12">
              <select id="publicationid" name="publicationid"  style="color: #fff;" value="<%= data.publicationid %>">
                <option value="" disabled>Choose your option</option>
              </select>
              <label>Publication</label>
            </div>
                
        <div class="input-field col s12">
            <input id="bookcategoryname" name="bookcategoryname" type="text" class="validate" style="color: #fff;" value="<%=data.bookcategoryname%>">
                <label for="bookcategoryname">Bookcategory Name</label>
              </div>
                    <div class="input-field col s12">
                      <textarea id="description" name="description" style="color: #fff;"  class="materialize-textarea"><%=data.description%></textarea>
                      <label for="description">Description</label>
                    </div>          
                            </div>
                            <div  class="row" >
                                <div class="input-field col s12 center">
                                    <button style="background-color:#fff;color:#007bff"
                                    class="btn waves-effect waves-light" type="submit" name="action">Edit
                                        <i class="material-icons right">edit</i>
                                      </button>
                                    </div>
                                     </div>
        
 
                                  </form> 
                                 
                </div>
                </div>
                
           
    
  
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
     </html>